@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  width: 270px;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

.container {
  background-color: #f0f0f0;
  padding: 22.5px;
  border-radius: 11.25px;
  box-shadow: 0 7.5px 15px rgba(0, 0, 0, 0.1);
  border: none; /* Remove the border */
}

.logo {
  display: block;
  margin: 0 auto 22.5px;
  max-width: 100%;
  height: auto;
}

.input-group {
  margin-bottom: 22.5px;
}

label {
  display: block;
  margin-bottom: 7.5px;
  font-weight: 500;
  color: #222;
}

input[type="text"] {
  width: 100%;
  padding: 11.25px;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin-bottom: 7.5px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #000;
  outline: none;
}

button {
  display: block;
  width: 100%;
  padding: 11.25px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #333;
  transform: translateY(-2px);
}

#status {
  margin-top: 7.5px;
  color: #28a745;
  text-align: center;
}

#ingredient-list {
  margin-top: 22.5px;
}

#ingredient-list h2 {
  font-size: 15px;
  margin-bottom: 15px;
  color: #000;
  text-align: center;
}

#search-bar {
  width: 100%;
  padding: 11.25px;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  transition: border-color 0.3s ease;
}

#search-bar:focus {
  border-color: #000;
  outline: none;
}

#ingredient-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

#ingredient-items li {
  padding: 11.25px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin-bottom: 7.5px;
  color: #000;
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 3.75px 7.5px rgba(0, 0, 0, 0.05);
}

#ingredient-items li:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}

.hidden {
  display: none;
}
