@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #000;
  --secondary-color: #333;
  --background-color: #f5f5f5;
  --text-color: #333;
  --border-color: #e0e0e0;
  --success-color: #28a745;
  --focus-color: #4d90fe;
  --hover-color: #f8f8f8;
  --remove-button-hover: #ff4d4d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 270px;
  padding: 15px;
}

.container {
  background-color: #ffffff;
  padding: 22.5px;
  border-radius: 11.25px;
  box-shadow: 0 7.5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 40px; /* Make room for page info */
}

.logo {
  display: block;
  margin: 0 auto 22.5px;
  max-width: 100%;
  height: auto;
}

.input-group {
  margin-bottom: 22.5px;
}

label {
  display: block;
  margin-bottom: 7.5px;
  font-weight: 500;
  color: var(--secondary-color);
}

input[type="text"],
#search-bar {
  width: 100%;
  padding: 11.25px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: #fff;
  color: var(--primary-color);
  font-size: 12px;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
#search-bar:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.2);
}

button {
  display: block;
  width: 100%;
  padding: 11.25px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

#status {
  margin-top: 7.5px;
  color: var(--success-color);
  text-align: center;
}

#ingredient-list {
  margin-top: 22.5px;
}

#ingredient-list h2 {
  font-size: 15px;
  margin-bottom: 15px;
  color: var(--primary-color);
  text-align: center;
}

#search-bar {
  margin-bottom: 16px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

#search-bar::placeholder {
  color: #bbb;
}

#ingredient-items {
  list-style: none;
}

#ingredient-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

#ingredient-items li:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.remove-button {
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.remove-button:hover {
  background-color: var(--remove-button-hover);
  color: #fff;
  border-color: var(--remove-button-hover);
}

.hidden {
  display: none;
}

/* Next and Previous Page Buttons */
#next-button,
#prev-button {
  background: linear-gradient(145deg, #000, #333);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  width: 28px;
  height: 28px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 4px;
  top: -33px;
  left: 10px;
}

#prev-button:hover,
#next-button:hover {
  background: linear-gradient(145deg, #333, #000);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#prev-button:focus,
#next-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.2);
}

/* Page Info Span */
#page-info {
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  font-size: 11px;
  color: var(--secondary-color);
  font-weight: 400;
  text-align: center;
}
