button {
    display: block;
    width: 100%;
    padding: 11.25px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: var(--transition);
}

button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

#next-button,
#prev-button {
    background: #ffffff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 28px;
    height: 28px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition:
        background 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
    position: relative;
    margin: 0 4px;
    top: -16px;
    left: 47px;
    z-index: 10;
}

#prev-button:hover,
#next-button:hover {
    background: linear-gradient(145deg, #333, #000);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#next-button {
    left: 128px;
}

#prev-button:focus,
#next-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.2);
}

#prev-button:disabled,
#next-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
