#page-info {
  position: absolute;
  bottom: 34px;
  left: 0;
  right: 0;
  font-size: 11px;
  color: var(--secondary-color);
  font-weight: 400;
  text-align: center;
  z-index: 9;
}

.hidden {
  display: none;
}
