{
    "presets": [["@babel/preset-env", { "modules": false }]],
    "plugins": ["@babel/plugin-syntax-dynamic-import"],
    "env": {
        "production": {
            "plugins": ["babel-plugin-transform-remove-console"]
        }
    }
}
